
html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #ffecd2, #fcb69f);
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.header {
    background-color: #f4a261;
    color: white;
    padding: 20px;
    text-align: center;        
    position: relative;        
}
.header nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}
.header nav a:hover {
    text-decoration: underline;
}

.header .logo {
    position: absolute;
    top: -10px;
    right: 20px;
    max-height: 200px;
    width: auto;
}

@media (max-width: 600px) {
    .header {
        padding-right: 70px;
    }
    .header .logo {
        max-height: 40px;
    }
}

.product {
    margin: 20px;
    padding: 0;
    text-align: left;
}

.product h2 {
    color: #f4a261;
    margin-bottom: 5px;
}

.highlight {
    color: green;
    font-weight: bold;
}

.out {
    color: red;
    font-weight: bold;
}

.combo {
    margin: 20px;
    font-size: 18px;
    text-align: left;
}

.footer {
    background-color: #f4a261;
    color: white;
    padding: 10px;
    text-align: center;       
    margin-top: auto;
}